{% extends 'appMonitor/baseDashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Reportes
{% endblock %}

{% block styles %}
<script src="https://cdn.tailwindcss.com"></script>
<style>
    
    .table-responsive {
        margin-top: 20px;
        overflow-x: auto;
    }

    .table thead th {
        background: linear-gradient(135deg, #36a2eb, #0056b3);
        color: #ffffff;
        border: none;
    }

    .table tbody td {
        background: #ffffff;
        color: #212529;
        border: 1px solid #dee2e6;
    }

    .badge-admin {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
    }

    #badge-success {
        background: linear-gradient(135deg, #28a745, #218838);
    }

    #badge-info {
        background: linear-gradient(135deg, #17a2b8, #117a8b);
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-info img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid #57a0ee;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .user-info img:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .fw-bold {
        font-weight: bold;
    }

    .text-muted {
        color: #6c757d !important;
    }

    .container-fluid {
        padding: 0;
    }

    .rounded-2 {
        border-radius: 12px;
    }

    .py-4 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .bg-white {
        background-color: #ffffff;
    }

    .titulo-amarillo h1 {
        color: #7b83f5;
        padding: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }

    .boton-descargar {
        background-color: #f17f7b;
        border: none;
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }

    .boton-descargar:hover {
        background-color: #f04742;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .pagination {
        margin-top: 20px;
    }

    .page-item.active .page-link {
        background: linear-gradient(135deg, #007bff, #0056b3);
        border-color: #0056b3;
    }

    .page-link {
        transition: background 0.3s ease, color 0.3s ease;
    }

    .page-link:hover {
        background: linear-gradient(135deg, #0056b3, #004080);
        color: #ffffff;
    }

    @media (max-width: 768px) {
        .table-responsive {
            display: block;
            overflow-x: auto;
        }
        .table {
            font-size: 0.9rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="w-full h-full overflow-hidden flex  justify-center ">
    <div class="flex items-center justify-center h-[50%] w-[80%] rounded-2 py-4 bg-white shadow-lg mt-[10rem]">
        <div class="w-full rounded-2xl py-8 bg-white shadow-lg flex flex-col items-center justify-center">
            <div class="w-full flex flex-col items-center justify-center">
                <div class="text-center mb-6">
                    <h1 class="text-2xl font-bold text-indigo-500">
                        Reporte de monitoreos al Ganado Bovino Lechero
                    </h1>
                </div>

                <!-- Formulario de búsqueda por fecha -->
                <div class="w-[80%] flex items-center justify-between mb-8 bg-gray-100 p-4 rounded-lg shadow-md">
                    <div class="flex items-center gap-2">
                        <form method="get" action="" class="flex gap-2">
                            <input id="fecha" class="form-control border border-gray-300 rounded-lg px-4 py-2" type="date" name="fecha_busqueda" value="{{ fecha_busqueda }}">
                            <button id="buscarBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition ease-in-out duration-300 shadow-md hover:shadow-lg" type="submit">
                                <i class="bi bi-search"></i> Buscar
                            </button>
                        </form>
                    </div>
                    <a href="{% url 'generar_pdf' %}" class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-6 rounded-lg transition ease-in-out duration-300 shadow-md hover:shadow-lg flex items-center gap-2">
                        <i class="fa fa-file-pdf"></i> Descargar PDF
                    </a>
                </div>

                <!-- Tabla de Reportes -->
                <div class="flex justify-center w-full">
                    <div class="w-full max-w-4xl overflow-x-auto">
                        <table class="w-full border-collapse border border-gray-300">
                            <thead class="bg-gradient-to-r from-blue-500 to-blue-700 text-white">
                                <tr>
                                    <th class="border border-gray-300 px-4 py-2 text-left">Collar</th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">Nombre</th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">Fecha de Creación</th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">Temperatura</th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">Pulsaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reporte in reportes %}
                                <tr class="hover:bg-gray-100 transition ease-in-out duration-150">
                                    <td class="border border-gray-300 px-4 py-2">{{ reporte.id_Lectura.id_Bovino.idCollar }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ reporte.id_Lectura.id_Bovino.nombre }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ reporte.fecha_lectura|date:"d-m-Y" }} {{ reporte.hora_lectura|time:"H:i" }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ reporte.id_Lectura.id_Temperatura.valor }}°C</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ reporte.id_Lectura.id_Pulsaciones.valor }} BPM</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
