<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Se incluye el icono de la aplicación -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block styles %}{% endblock %}
    
</head>
<body class="flex flex-col w-full h-full overflow-hidden">
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top border shadow-sm bg-white" >
        <div class="bg-[#3b82f6] flex w-full items-center px-4 py-2">
            <button class="navbar-toggler d-lg-none d-md-block me-2" type="button" id="menu-toggle" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list d-lg-none d-md-block"></i>
            </button>
            <a href="#" class="navbar-brand d-flex align-items-center ">
                <img src="{% static 'assets/img/logo_sistemas.jpg' %}" alt="Logo" class="w-10 h-10 rounded-full"/>
            </a>
            <a class="d-none d-md-flex w-auto my-auto px-3 text-white font-bold text-lg" href="#">
                <span class="text-nowrap" style="text-align: center; min-width: 225px">
                    Panel de Monitoreo de Ganado Bovino Lechero UNL
                </span>
            </a>
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <a href="{% url 'salir' %}" class="nav-link text-white text-[2rem] ">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </ul>
        </div>
    </nav>
     
     <div class="w-full h-[100vh] flex bg-white ">

        <nav id="sidebarMenu" class="text-white w-[20%] h-full border-l border-2 border-blue-300" >
            <div class="position-sticky bg-blue-100 h-full pt-4">
                <div class="flex flex-col p-4 space-y-4">
                    <a href="{% url 'monitoreo_actual' %}" class="flex items-center py-2 px-3 bg-gray-100 rounded-lg text-black font-semibold shadow-md">
                        <img class="me-3" src="{% static 'assets/img/mas_recientes.png' %}" width="40" height="40" />
                        <span>Monitoreo Actual</span>
                    </a>
                    <a href="{% url 'reportes' %}" class="flex items-center py-2 px-3 bg-gray-100 rounded-lg text-black font-semibold shadow-md">
                        <img class="me-3" src="{% static 'assets/img/reportes.png' %}" width="40" height="40" />
                        <span>Reportes</span>
                    </a>
                    <a href="{% url 'temperatura' %}" class="flex items-center py-2 px-3 bg-gray-100 rounded-lg text-black font-semibold shadow-md">
                        <img class="me-3" src="{% static 'assets/img/temperatura.png' %}" width="40" height="40" />
                        <span>Temperatura</span>
                    </a>
                    <a href="{% url 'frecuencia' %}" class="flex items-center py-2 px-3 bg-gray-100 rounded-lg text-black font-semibold shadow-md">
                        <img class="me-3" src="{% static 'assets/img/ritmo.png' %}" width="40" height="40" />
                        <span>Frecuencia Cardíaca</span>
                    </a>
                    {% if user.is_staff %}
                    <a href="{% url 'gestion' %}" class="flex items-center py-2 px-3 bg-gray-100 rounded-lg text-black font-semibold shadow-md">
                        <img class="me-3" src="{% static 'assets/img/usuarios/Gestionar_Usuarios.png' %}" width="40" height="40" />
                        <span>Administración</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>

    <main class="bg-dark-light w-[80%] flex flex-col h-full overflow-auto ">
        <!-- Bloque para mostrar mensajes de Django -->
        {% if messages %}
        <div class="container-fluid">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </main>

     </div>

    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebarMenu');
            sidebar.classList.toggle('show');
        });
    </script>
</body>
</html>
